<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="icon" href="/img/restaurant.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <title>{{ pageTitle }}</title>
    <meta name="generator" content="eleventy"/>
    <title>{{ pageTitle | safe }}</title>
    <meta name="description" content="{{ description | safe }}"/>
  </head>
  {% include nav %}

  <body>
    <div class="hero">
      <h1 class="pagetitle">
        {{ pageTitle | safe }}
      </h1>
      <h2 class="h4 pagedescription">{{ description | safe }}</h2>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>

    {% include footer %}
  </body>
</html>