<div class="project-item">
  <div class="project-item__details">
    <h2 class="project-item__header">
      <a target="_blank" href="{{ project.data.url }}">{{ project.data.title }}</a>
      <span class="">{{ project.data.type }}</span>
    </h2>
    <div class="project-item__about">{{ project.templateContent | safe }}</div>
  </div>
  <div class="project-item__price">{{ project.data.price }}</div>
</div>